include \
    *.yml \
    *.yaml \
    .bumpversion.cfg \
    .dockerignore

graft docker
graft release-notes
graft src

global-exclude \
    *.bin \
    *.py[cod] \
    __pycache__

prune docs
prune tests
