# All Requirements to install MASSpy
cobra>=0.15.0
depinfo
escher             # Optional for network visualization
libroadrunner>=1.5.3
matplotlib>=3.0.0  # Optional for plotting
numpy>=1.13.0
pandas>=0.17.0
scipy>=1.2.0
simplejson         # Optional for json performance
six>=1.11.0
sympy>=1.0.0
tabulate>=0.8.1